body{
	background:rgb(243,215,29);
	color:#222;
	font-family: 'Roboto', sans-serif;, Arial, sans-serif;
	padding: 0 130px 0 130px;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Arvo', serif;
	font-size:
}
h1{
	font-size: 600%;
}

/* un comentario en CSS se escribe de esta manera */

a{color:rgb(72, 126, 170); text-decoration: none;}

a:hover{color:rgb(0, 0, 0); text-decoration: underline;}

:hover{transition: ease all 1s;}

nav{
	padding:0.9rem;
}

nav ul li{
	font-family: 'Arvo', serif;
	font-size:150%;
	padding: 0.5rem0;
}


div.container{
	margin:2rem;
	position: relative;
}

h2{
	transform: translate(0, 190px) rotate(90deg);
	position:absolute;
	right:0;
	top:0;
}

@media screen and (max-width: 1024px){
	h2{display:none;}
}

@keyframes espaciado {
	from {letter-spacing: 0.01rem;}
	to {letter-spacing: 0.1rem;}
}

h4:hover {
	animation-name: espaciado;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

figure{
	background:rgba(255,255,255,.9);
	padding:0.5rem;
	margin:1rem 0 2rem 0;
	box-shadow: 0 0 3px rgba(0,0,0,.1);
}

figure img{
	width: 100%;
	height:auto;
	filter: hue-rotate(0deg);
}

figure img:hover{
	width: 100%;
	height:auto;
	filter: hue-rotate(90deg);
}

figcaption{
	padding:0.5rem;
	font-size: 90%;
	letter-spacing: 0.01rem;
}

hr{
	border:3px solid #ddd;
}

svg{
	border:5px solid #fff;
}

s, del{
	background:rgba(0,0,0,.3);
	color:rgba(0,0,0,1);
	text-decoration:;
}

ins{
	font-weight: bold;
	text-decoration: none;
}
